html, body {
    font-family: 'Segoe UI', sans-serif;
}

span {
    font-style: italic;
}

div {
    display: flex;
    vertical-align: top;
    font-size: 14px;
    font-family: Calibri;    
}

label {
    font-size: 14px;
    font-family: Calibri;
    margin-bottom: 2px;
}
